
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html{
  font-size: 62.5%;

}
body{
  background-color: rgb(219,230,253);
}
h1{
  font-size: 3.2rem;
  margin: 2rem 0;
  text-align: center;
}
h2{
  font-family: "IBM Plex Serif", serif;
  font-size: 2.4rem;
}

.main-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4rem;
}

.container{
  min-width: 20rem;
  width: 40vw;
  margin: 3rem;
  padding: 4rem;
  background-color: #ffff;
  box-shadow: rgba( rgb(100, 100,111,0.2) 0px 7px 29px 0px);
  border-radius: 0.5rem;
  color: #15133c;
}


.card-button{
  margin: 10px;
  padding: 2px;
  width: 5rem;
border: 2px solid black;
border-radius: 6px;
cursor: pointer;
background-color: rgb(83, 67, 141);
color: white;
}